<h1>Moons</h1>
<table>
    <% @moons.each do |moon| %>
        <tr>
            <td id ='moonName'><%= link_to moon.name, planet_moon_path(@planet, moon) %></td>
            <td>Distance from planet: <%= moon.distance_from_planet %></td>
            <td>Radius: <%= moon.radius%></td>
            <td>Orbit period: <%= moon.orbit_period %></td>
        </tr>
    <% end %>
</table>
<p id='linkToPlanet'><%= link_to 'Planets', planet_index_path%></p>